
body{
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
.btn{
    display: none;
}
#page_color{
    color: red;
}
.index_background{
    background-image: url(../Photos/main_index.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height: 100dvh;
    width: 100%;
    aspect-ratio: 1/1;
}
.contact_background{
    background-image: url(../Photos/CONTACT_MAIN.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100dvh;
}
.background{  
background:-o-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
-o-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
-o-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
-o-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
-o-linear-gradient(left, #1b1b1b 10px, transparent 10px),
-o-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);  
background:linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px; 
width: 100%;
height: -webkit-fit-content;
height: -moz-fit-content;
height: fit-content;
aspect-ratio: 1/1;
}
.hypercars_background{
background-color: black;
}

.header{
 width: 100%;
 height: -webkit-max-content;
 height: -moz-max-content;
 height: max-content;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 padding-left: var(--padding);
 padding-right: var(--padding);
 position: relative;
}
.logo{
    width: 100px;
    height: 100px;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
}
.nav a{
    text-decoration: none;
}
.nav1{
    color:rgba(221, 218, 218, 0.863);
}
.main_index{
    position: absolute;
    width: 100%;
    height: 100dvh;
    
}
.horacio_sign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
    padding-bottom: 12%;
}
.sign{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.index_main_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-top: 10%; 
}
.index_main_text h2{
    font-family: inherit;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-top: 3.5%;
    padding-left: var(--padding);
    padding-right: 75px ;
}
.footer_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    gap: 20px;
}
.footer_nav img{
    width: 40px;
    height: 40px;
}
.footer p{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
.pagani_child{
    margin-top: 50px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;

}
.pagani_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
}
.pagani_text h2{
    color: azure;
    font-family: Arial;
    font-size: 35px;
    font-weight: 500;
    line-height: 25px;

}
.pagani_text p{
    color: azure;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}
.pagani_child img{
    width: 550px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-right: 200px;
}
.pagani{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: var(--padding);
    padding-right: var(--padding);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 50px;
    gap: 20px;
   
}
.pagani img{
    width: 500px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-right: 200px;

}
.txt_pagani h2{
    color: azure;
    font-family: Arial;
    font-size: 35px;
    font-weight: 500;
    line-height: 25px;
}
.txt_pagani p{
    color: azure;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}
.cars{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    padding-left: var(--padding);
    padding-right: var(--padding);  
     padding-top: 50px;
     margin: 0;
}
.car{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
}
.car_photo img{
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}
.car_text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    color: #ffff;
    margin: 0;
}
.car_text h2{
    font-size: 30px;
    margin: 0;
    line-height: 20px;
    font-weight: 500;
    font-family: inherit;
    padding-top: 10px;
}
.car_text p{
    font-size: 18px;
    line-height: 20px;
    font-family: inherit;
    margin: 0;
    padding-top: 15px;
}
.car_text span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
    font-size: 20px;
}
.pagani_school img{
    padding-top: 50px;
}
.FIRST_F2{
    padding-bottom: 100px;
}
.FIRST_F2 img{
    padding-top: 50px;
}
.contact{
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 5%;
    padding-bottom: 10%;
}
.contact h2{
    font-size: 40px;
}
.contact_txt{
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    font-family: inherit; 
     text-decoration: none;
     color: #131313;
}
.contact_info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
}
.contact_info a{
    text-decoration: none;
    color: #131313;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    font-family: inherit;
}
.space{
    padding-top: 2%;
}
.btn{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 600px) {
    .btn{ display: -webkit-box; display: -ms-flexbox; display: flex;}
    .nav{display: none;}
    .index_background{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 50px;}
    .nav_box{
        width: 200px;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        position: relative;
        background-color: #131313;
        left: 25%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .nav_box a{
        text-decoration: none;
    }
    .nav_box p{
        font-size: 25px;
        line-height: 20px;
        font-weight: 400;
    }
    .index_main_text h2{
        font-size: 30px;
        line-height: 25px;
    }
    .horacio_sign{
       padding-left: 30px;
       padding-right: 30px;
    }
    .horacio_sign img{
        width: 80%;
    }
    .footer{
        width: 80%;
        height: 50px;
        padding-left: 20px;
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;

    }
    .footer_nav img{
        width: 30px;
        height: 30px;

    }
    .footer p{
        font-size: 12px;
    }

    .cars{
        padding: 30px;
    }
    .pagani{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding:30px ;
    }
    .pagani img{
        width: 90%;
        padding:10px;   
    }
    .pagani_child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px;
    }
    .pagani_child img{
        width: 90%;
        padding: 10px;
    }
    .pagani_text h2{
        font-size: 30px;
        font-weight: 500;
    }
    .contact_background{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .contact{
        padding-left: 20px;
        padding-right: 20px;
       
    }
    .contact h2{
        font-size: 30px;
        margin: 0;
    }
    .contact p{
        font-size: 20px;
    }
    .contact_info a{
        font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .btn{ display: -webkit-box; display: -ms-flexbox; display: flex;}
    .nav{display: none;}
    .index_background{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        padding: 30px;}
       
     .nav_box{
            width: 200px;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
            position: relative;
            background-color: #131313;
            left: 25%;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 30px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
    .nav_box a{
        text-decoration: none;
    }
    .nav_box p{
        font-size: 25px;
        line-height: 20px;
        font-weight: 400;
    }
    .index_main_text h2{
        font-size: 30px;
        line-height: 25px;
    }
    .horacio_sign{
       padding-left: 30px;
       padding-right: 30px;
    }
    .horacio_sign img{
        width: 80%;
    }
    .footer{
        width: 80%;
        height: 50px;
        padding-left: 20px;
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0;

    }
    .footer_nav img{
        width: 30px;
        height: 30px;

    }
    .footer p{
        font-size: 12px;
    }

    
    .pagani{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding:30px ;
    }
    .pagani img{
        width: 90%;
        padding:10px;   
    }
    .pagani_child{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 30px;
    }
    .pagani_child img{
        width: 90%;
        padding: 10px;
    }
   
    .contact_background{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
     .contact{
       
       
    }
    /* .contact h2{
        font-size: 30px;
        margin: 0;
    }
    .contact p{
        font-size: 20px;
    }
    .contact_info a{
        font-size: 20px;
    } */ 
  }  
  @media only screen and (min-width: 900px) {
    .btn{ display: none;}
    .nav{display: -webkit-box;display: -ms-flexbox;display: flex;}
    .index_background{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .cars{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
 
    .contact_background{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
  }